*.js
!jest.config.js
*.d.ts
node_modules
lerna-debug.log
coverage/
build/
*.html
.env


# CDK asset staging directory
.cdk.staging
cdk.out

# Private tag data
tags-private.json

# Editor configuration files
.vscode/
.idea

# OSX
.DS_Store

# Sonar Scanner
*.ucfg
.scannerwork