---
name: Build and Test API
on:
  pull_request:
  push:
    branches:
      - develop
      - main

jobs:
  assertPackageLockVersion:
    name: Ensure package-lock lockfileVersion has not changed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Check package-lock.json
        run: |
          errors=0
          for file in package-lock.json infrastructure/package-lock.json applications/**/package-lock.json; do
            if [ "$(cat $file | jq -r .lockfileVersion)" != "1" ]; then
              echo "$file: lockfileVersion is invalid"
              errors=$(( errors + 1 ))
            else
              echo "$file: lockfileVersion is okay"
            fi
          done
          exit $errors
  build:
    name: Build and Synthesize
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: "14"
          cache: npm
      - name: Install global dependencies
        run: |
          npm install -g aws-cdk
      - name: Install project dependencies
        run: |
          npm ci
          npm run bootstrap
      - name: Lint the project
        run: npm run lint
      - name: Build the project
        run: npm run build
      - name: Synthesize CDK template
        run: cdk synth
      - name: Gather artifacts
        uses: actions/upload-artifact@v2
        with:
          name: cloudformation-assets
          path: |
            cdk.out/*.template.json
            cdk.out/asset.*/index.js
